<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fido.common">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 蓝牙相关权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
        android:name=".common_utils.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Common_utils"
        tools:targetApi="31">

        <activity
            android:name=".common_utils.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 根据时间点动态跟换图标

         Activity别名，需要事先内置于 APP 中
         MainAliasActivity 此 Activity 类可以不必真实存在
         targetActivity 指向要 Launcher的Activity
         -->
        <activity-alias
            android:name=".MainAliasActivity"
            android:enabled="false"
            android:label="@string/app_name_new"
            android:icon="@mipmap/h_launch"
            android:targetActivity=".common_utils.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".common_utils.rv.RvAc"/>
        <activity android:name=".common_utils.rv.RvDragSwipeAc"/>
        <activity android:name=".common_utils.rv.RvHorStickyAc"/>
        <activity android:name=".common_utils.rv.RvScrollWithWindownAc"/>

        <activity android:name=".common_utils.time.IntervalTimeAc"/>

        <activity android:name=".common_utils.spannable.SpannableAc"/>
        <activity android:name=".common_utils.edittext.CustomStyleActivity"/>
        <activity android:name=".common_utils.picker.PickerViewAc"/>
        <activity android:name=".common_utils.picker.LinkagePickerActivity"/>

        <activity android:name=".common_utils.constraintlayout.ConstraintLayoutAc"/>

        <activity android:name=".common_utils.viewmodel.ViewModelAc"/>

        <activity android:name=".common_utils.banner.BannerAc"/>

        <activity android:name="com.fido.common.surface.SurfaceAc"/>

        <activity android:name=".common_utils.test.NavigationAc"/>

        <activity android:name=".common_utils.naviga.CodenavigationAc"/>

        <activity android:name=".common_utils.viewpager.ViewpageAc"/>
        <activity android:name=".common_utils.viewpager.NotifyViewPagerAc"/>

        <activity android:name=".common_utils.LiveDataAc"/>

        <activity android:name=".common_utils.sp.SPAc"/>

        <activity android:name=".common_utils.motionlayout.MotionLayoutAc"/>
        <activity android:name=".common_utils.motionlayout.MotionLayoutAc2"/>
        <activity android:name=".common_utils.motionlayout.MotionBallsAc"/>
        <activity android:name=".common_utils.motionlayout.MotionBall2Ac"/>
        <activity android:name=".common_utils.motionlayout.MotionCollapsibleAc"/>
        <activity android:name=".common_utils.motionlayout.MotionCarouselAc"/>
        <activity android:name=".common_utils.motionlayout.MotionCustomCarouselAc"/>
        <activity android:name=".common_utils.motionlayout.MotionYouTubeAc"/>
        <activity android:name=".common_utils.motionlayout.MotionFakeBossListAc"/>

        <activity android:name=".common_utils.room.RoomAc"/>
        <activity android:name="com.fido.common.textview.TextViewAc"/>

        <!--注册 FlutterActivity-->
        <!--<activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />-->

        <activity android:name="com.fido.common.flutter.FlutterInteractiveAc"/>

        <activity android:name=".common_utils.calendar.WriteCalendarAc"/>

        <activity android:name=".common_utils.accessibility.AdSkipAc"/>
        <!-- AccessbilityService -->
        <service
            android:name=".common_utils.accessibility.AdGunAccessibilityService"
            android:exported="false"
            android:label="AD 滚犊子！！！"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ad_gun_service_config" />
        </service>


        <activity android:name=".common_utils.eventbus.ac.EventBusAc"/>

        <activity android:name=".common_utils.pop.DialogChainAc"/>

        <activity android:name=".common_utils.annotation.AnnotationAc"/>

        <activity android:name=".common_utils.muilt_process.GloableProcessAc" android:launchMode="singleTask" android:process="com.fido.test"/>
        <activity android:name=".common_utils.muilt_process.PrivateProcessAc" android:process=":fido1"/>
        <!-- 指定launchMode 为singleTask 并设置 taskAffinity 实现小程序效果 -->
        <activity android:name=".common_utils.muilt_process.Private2ProcessAc" android:process=":fido2" android:launchMode="singleTask" android:taskAffinity=":fido2"/>
        <activity android:name=".common_utils.muilt_process.Private3ProcessAc" android:process=":fido2" android:launchMode="singleTask" android:taskAffinity=":fido2"/>

        <activity android:name=".common_utils.view.FloatingImageAc"/>
        <activity android:name=".common_utils.rv.RvEmptyViewAc"/>

        <activity android:name=".common_utils.viewpager.Vp2Ac"/>

        <activity android:name=".common_utils.customview.CustomViewAc"/>
        <activity android:name=".common_utils.customview.HTCustomViewAc"/>

        <activity android:name=".common_utils.asm.ASMTestAc"/>
        <activity android:name=".common_utils.asm.replace.ReplaceClassTestAc"/>
        <activity android:name=".common_utils.device_info.DeviceInfoAc"/>
        <activity android:name=".common_utils.asm.AsmHookActivity"/>
        <activity android:name=".common_utils.login.LoginAc"/>
        <activity android:name=".common_utils.login.UserProfileAc"/>
        <activity android:name=".common_utils.design_pattern.DesignPatternAc"/>
        <activity android:name=".common_utils.jetpack.JetPackAc"/>
        <activity android:name=".common_utils.jetpack.JetPackageContainerAc"/>
        <activity android:name=".common_utils.customview.fake_taobao.FakeTaobaoKingkongViewAc"/>
        <activity android:name=".common_utils.result.KtResultAc"/>
        <activity android:name=".common_utils.pdf.AndroidXPdfActivity"/>
        <activity android:name=".common_utils.ac_factory2.LayoutFactory2Ac"/>

        <activity android:name=".common_utils.coroutine.CoroutineTestAc"/>
        <activity android:name=".common_utils.blue_tooth.BlueToothAc"/>
        <activity android:name=".common_utils.blue_tooth.BlueToothSendFileComputerActivity"/>

        <activity android:name=".common_utils.webview.WebViewAc"/>
        <activity android:name=".common_utils.jetpack.coroutine.KotlinCoroutineAc"/>
        <activity android:name=".common_utils.customview.SlidingConflictAc"/>
        <activity android:name=".common_utils.customview.MapDragAc"/>
        <activity android:name=".common_utils.handler.HandlerInKotlinAc"/>

        <activity android:name=".common_utils.js.JsAc"/>

    </application>

</manifest>